In [210]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [211]:
df=pd.read_csv("C:/Users/Cody/Downloads/leagueoflegends/matchinfo.csv")
df.iloc[4]

League                                                          NALCS
Year                                                             2015
Season                                                         Spring
Type                                                           Season
blueTeamTag                                                       CLG
bResult                                                             1
rResult                                                             0
redTeamTag                                                         T8
gamelength                                                         35
blueTop                                                         Benny
blueTopChamp                                                     Gnar
blueJungle                                                    Xmithie
blueJungleChamp                                              JarvanIV
blueMiddle                                                       Link
blueMiddleChamp                                             Lissandra
blueADC                                                    Doublelift
blueADCChamp                                                 Tristana
blueSupport                                                  aphromoo
blueSupportChamp                                                Janna
redTop                                                    CaliTrlolz8
redTopChamp                                                      Sion
redJungle                                                   Porpoise8
redJungleChamp                                                 RekSai
redMiddle                                                    Slooshi8
redMiddleChamp                                                   Lulu
redADC                                                   Maplestreet8
redADCChamp                                                     Corki
redSupport                                                      Dodo8
redSupportChamp                                                 Annie
Address             http://matchhistory.na.leagueoflegends.com/en/...
Name: 4, dtype: object

In [212]:
df1=pd.read_csv("C:/Users/Cody/Downloads/leagueoflegends/matchinfo.csv", usecols=['blueTopChamp', 'blueMiddleChamp',
                                                                                'blueJungleChamp', 'blueADCChamp',
                                                                                'blueSupportChamp', 'bResult','gamelength'])

In [213]:
df1.sort_values('blueTopChamp', inplace=True)

In [214]:
columns = ['blueTopChamp', 'blueMiddleChamp', 'blueJungleChamp', 'blueADCChamp', 'blueSupportChamp']

In [215]:
df1[df1['blueTopChamp'] == 'Akali']

,bResult,gamelength,blueTopChamp,blueJungleChamp,blueMiddleChamp,blueADCChamp,blueSupportChamp
1868,0,25,Akali,Elise,Lucian,Twitch,Braum
3219,1,29,Akali,RekSai,Galio,Ashe,Blitzcrank
6341,0,31,Akali,RekSai,Viktor,Caitlyn,Morgana
1615,0,34,Akali,Hecarim,Leblanc,Jhin,Sion
4973,1,34,Akali,Zac,Taliyah,Xayah,Thresh

In [216]:
champlist = []
for i in range (len(columns)):
    df2 = df1.drop_duplicates(subset=columns[i])
    [x, y] = df2.shape
    for j in range (x):
        if df2[columns[i]].iloc[j] not in champlist:
            champlist.append(df2[columns[i]].iloc[j])

In [217]:
thetas = np.zeros((5, 1))
X = np.ones((5, 1))
y = 0
e = 2.718



def sigmoid(z):
    A = 1 / (1 + e**z)
    return A

In [218]:
thetalist = pd.DataFrame(np.zeros((len(champlist), 1)), index=champlist, columns=['theta1'])

In [222]:
for m in range (df1.shape[0]):
    champs = []
    champs.append(df1.iloc[m]['blueTopChamp'])
    champs.append(df1.iloc[m]['blueMiddleChamp'])
    champs.append(df1.iloc[m]['blueJungleChamp'])
    champs.append(df1.iloc[m]['blueADCChamp'])
    champs.append(df1.iloc[m]['blueSupportChamp'])
    y = df1.iloc[m]['bResult']

    for i in range (5):
        thetas[i] = thetalist.loc[champs[i]]
        
    predictions = thetas.T.dot(X)
    cost.append(float(-y * np.log10(sigmoid(predictions)) - (1-y) * np.log10(1 - sigmoid(predictions))))
    
    for i in range(len(thetas)):
        A = 0.01 / len(thetas) * X[i] * e**(-1 * predictions) / (np.log(10) * (1 + e**(-1 * predictions))**2)
        A = A * (y / sigmoid(predictions) + (1 - y) / 1 - sigmoid(predictions))
        thetas[i] = thetas[i] + A
    
    for i in range (len(thetas)):
        thetalist['theta1'][champs[i]] = thetas[i]

In [223]:
thetalist.tail(5)

          theta1
Leona   0.021788
Brand   0.009747
Annie   0.042505
Soraka  0.026309
Sona    0.007366

# Begin line by line implementation

In [144]:


m = 0
champs.append(df1.iloc[m]['blueTopChamp'])
champs.append(df1.iloc[m]['blueMiddleChamp'])
champs.append(df1.iloc[m]['blueJungleChamp'])
champs.append(df1.iloc[m]['blueADCChamp'])
champs.append(df1.iloc[m]['blueSupportChamp'])
champs

['Akali', 'Lucian', 'Elise', 'Twitch', 'Braum']

In [145]:
y = df1.iloc[m]['bResult']

for i in range (5):
    thetas[i] = thetalist.loc[champs[i]]

In [147]:
predictions = thetas.T.dot(X)

array([[0.]])

In [149]:
cost = []
cost.append(-Y * np.log10(sigmoid(predictions)) - (1-y) * np.log10(1 - sigmoid(predictions)))

array([[0.30103]])

In [150]:
for i in range(len(thetas)):
        thetas[i] = thetas[i] + (0.01 / len(thetas) * X[i] * e**(-1 * predictions) / (np.log(10) * (1 + e**(-1 * predictions))**2) * (y / sigmoid(predictions) + (1 - y) / 1 - sigmoid(predictions)))

In [159]:
thetalist

            theta1
Akali          0.0
Alistar        0.0
Azir           0.0
Bard           0.0
Blitzcrank     0.0
...            ...
Leona          0.0
Brand          0.0
Annie          0.0
Soraka         0.0
Sona           0.0

[136 rows x 1 columns]

In [160]:
for i in range (len(thetas)):
    thetalist['theta1'][champs[i]] = thetas[i]

              theta1
Akali       0.000109
Alistar     0.000000
Azir        0.000000
Bard        0.000000
Blitzcrank  0.000000
...              ...
Leona       0.000000
Brand       0.000000
Annie       0.000000
Soraka      0.000000
Sona        0.000000

[136 rows x 1 columns]

In [209]:
y

1